Here is your selected movie!

<h1><%= @movie.title %></h1>

<ul>

    <li>
      <h4>Review Title: </h4> <%= @review.title %>
      <h4>Review Content: </h4><%= @review.content %>
      <h4>Review Rating: </h4><%= @review.rating %>
      <p>Author: <%= link_to @review.user.name, user_path(@review.user) %></p>
    </li>


</ul>

<button class="js-reviews" data-id="<%= @movie.id %>">See All Reviews...</button>
<button class="js-topReviews" data-id="<%= @movie.id %>">See Top Reviews...</button>

<div id="body-<%= @movie.id %>"></div>
