<% if @user.id && session[:user_id] == @user.id %>
<h1>Hello, <%= @user.name %></h1>
<p><%= link_to 'Logout', logout_path %></p>


<h2>You have <%= @user.reviews.count %> reviews</h2>

<h3><%= link_to "click here to review a movie", new_review_path %></h3>

<% else %>
<h2><%= @user.name %> has <%= @user.reviews.count %> reviews.</h2>

<% end %>



<button class="js-reviews" data-id="<%= @user.id %>">See Reviews...</button>


<div id="body-<%= @user.id %>"></div>



  <script type="text/javascript" charset="utf-8">
    $(function () {
      $(".js-reviews").on('click', function() {
        var id = $(this).data("id");
        $.get("/users/" + id + "/user_data", function(data) {

          $('#body-' + id).empty()
          // Replace text of body-id div
          $.each(data, function(index) {

            $('#body-' + id).append(
              "<h3>" + data[index]["title"] + "</h3>" +
              "<p>" + data[index]["content"] + "</p>" +
              '<a href="/movies/' + data[index]["movie_id"] + "/reviews/" + data[index]["id"] + '">'+ "see full review" +'</a>'
            );
          });
        });
      });
    });
  </script>
