<% if @user.id && session[:user_id] == @user.id %>
<h1>Hello, <%= @user.name %></h1>
<p><%= link_to 'Logout', logout_path %></p>


<h2>You have <%= @user.reviews.count %> reviews</h2>

<h3><%= link_to "click here to review a movie", new_review_path %></h3>

<% else %>
<h2><%= @user.name %> has <%= @user.reviews.count %> reviews.</h2>

<% end %>

<h3> <%= link_to "See Reviews", userReviewsPartial, needs @user %>
