<% if flash[:notice] %>
   <div><font color="red">Review failed because: <%= flash[:notice] %></font></div>
 <% end %>

  <!-- ####### BELOW IS A WORK IN PROGRESS ####### -->
  <h1> Check out this review! </h1>

  <h1 class="movieTitle">Movie Title: <%= @review.movie.title %></h1>
  <h3 class="reviewTitle">Review Title: <%= @review.title %></h3>
  <p class="reviewContent">Review Content: <%= @review.content %></p>
  <p class="reviewRating">Rating: <%= @review.rating %></p>

  <div class="editLink">
    <% if is_logged_in? && current_user.id == @review.user.id %>
    <%= link_to 'click here to edit this review', edit_movie_review_path(@review.movie_id, @review.id) %>
    <% end %>
  </div>
  <a href="#" class="js-previous" review-id="<%=@review.id%>">Previous Review</a>
  <a href="#" class="js-next" review-id="<%=@review.id%>">Next Review</a>
