<h1>Here is the review for <%= @review.movie.title %></h1>

<h3>Title: <%= @review.title %>
<p>Content: <%= @review.content %>
<p>Rating: <%= @review.rating %>
<p>Author: <%= @review.user.name %>

  <% if is_logged_in? %>
  <%= link_to 'click here to edit this review', edit_review_path(@review) %>
  <% end %>
